/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# RBS development files
/rbs_collection.yaml
/rbs_collection.lock.yaml
/.gem_rbs_collection/
Gemfile.lock

# Logs
/log/
*.log
/test/dummy/log/
/test/dummy/tmp/

# Native extension build artifacts
/ext/**/*.bundle
/ext/**/*.so
/ext/**/*.dSYM/
/ext/**/.sitearchdir.time
/ext/**/Makefile
/ext/**/target/
lib/**/*.bundle
